
/* Layout */

body {
  padding-top: 70px;
}


ul.file-tree,
.file-tree ul {
  padding: 0;
}

ul.file-tree li {
  padding: .2em 0 .2em 1.5em;
  list-style: none;
}

.file-tree .ignore {
  color: red !important;
}

.file-tree .selected {
  color: green !important;
}
