<script type="text/ng-template"  id="tree_item.html">
    <i class="fa" ng-class="{true:'fa-folder-open-o', false:'fa-file-o'}[data.type=='folder']"></i> {{data.name}}
    <ul>
        <li ng-repeat="data in data.content" ng-class="data.isSelected" ng-include="'tree_item.html'"></li>
    </ul>
</script>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Files</h3>
      </div>
      <div class="panel-body">
        <ul class="file-tree">
           <li ng-repeat="data in dataForTheTree" ng-class="data.isSelected" ng-include="'tree_item.html'"></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Setup</h3>
      </div>
      <div class="panel-body">
        <form ng-submit="submitGlob($event)">
          <h3>Glob</h3>
          <input ng-model="globPattern" class="form-control" name="pattern" placeholder="Type your glob pattern here..." />
          <hr>
          <h3>Options</h3>
          <input type="checkbox" ng-model="options.dot" value="dot"> hidden <br>
          <hr>
          <input type="submit" class="btn btn-primary" value="Glob it">
        </form>
      </div>
    </div>

    <div class="panel panel-default" ng-show="globResult.length">
      <div class="panel-heading">
        <h3 class="panel-title">Result</h3>
      </div>
      <div class="panel-body">
        <pre>{{ globResult | json }}</pre>
      </div>
    </div>
  </div>
</div>
