<script type="text/ng-template"  id="tree_item.html">
    {{data.name}}
    <ul>
        <li ng-repeat="data in data.content" class="ng-class:data.isSelected" ng-include="'tree_item.html'">aa</li>
    </ul>
</script>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">File Tree</h3>
      </div>
      <div class="panel-body">
        <ul>
           <li ng-repeat="data in dataForTheTree" class="ng-class:data.isSelected" ng-include="'tree_item.html'">bb</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">File Tree</h3>
      </div>
      <div class="panel-body">
        <form ng-submit="submitGlob($event)">
          <h3>Glob</h3>
          <input ng-model="globPattern" class="form-control" name="pattern" placeholder="Type your glob pattern here..." />
          <hr>
          <h3>Options</h3>
          <input type="checkbox" ng-model="options.hidden" value="hidden"> hidden <br>
          <hr>
          <input type="submit" class="btn btn-primary" value="Glob it">
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12" ng-show="globResult.length">
    <pre>{{ globResult | json }}</pre>
  </div>
</div>
