<div class="row">
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Files</h3>
      </div>
      <div class="panel-body">
        <span ng-if="loadingTree">loading...</span>
        <abn-tree tree-data="treeData" expand-level="3" initial-selection="">
        </abn-tree>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Import</h3>
      </div>
      <div class="panel-body">
        <form ng-submit="githubImport($event)">
          <div class="form-group">
            <label for="repo">Import from GitHub</label>
            <input ng-model="repo" name="repo" class="form-control" id="repo" placeholder="github.com/user/repo" />
          </div>
          <input type="submit" class="btn btn-sm btn-primary" value="Import">
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Setup</h3>
      </div>
      <div class="panel-body">
        <form ng-submit="submitGlob($event)">
          <h3>Glob</h3>
          <input ng-model="pattern" class="form-control" name="pattern" placeholder="Type your glob pattern here..." />
          <hr>
          <h3>Options</h3>
          <input type="checkbox" ng-model="options.dot" value="dot">hidden
          <br>
          <hr>
          <input type="submit" class="btn btn-primary" value="Glob it">
        </form>
      </div>
    </div>

    <div class="panel panel-default" ng-show="globResult.length">
      <div class="panel-heading">
        <h3 class="panel-title">Result</h3>
      </div>
      <div class="panel-body">
        <pre>{{ globResult | json }}</pre>
      </div>
    </div>
  </div>
